<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Online Ticketing System{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  {% block extra_css %}{% endblock %}
</head>

<body>
  <!-- 顶部导航栏 -->
  <div class="navbar">
    <div class="logo">Online Ticketing System</div>
    <div class="nav-links">
      {% if current_user %}
        <!-- 用户已登录，显示用户名和登出按钮 -->
        <span>Welcome, {{ current_user.username }}!</span>
        <a href="{{ url_for('auth.logout') }}" class="secondary-button">Logout</a>
        <a href="{{ url_for('auth.settings') }}" class="gear-button">
          <i class="fas fa-cog"></i> <!-- 齿轮图标 -->
        </a>
      {% elif request.endpoint != 'auth.register' and request.endpoint != 'auth.login' %}
        <!-- 用户未登录，并且当前页面不是登录或注册页面，显示注册和登录按钮 -->
        <a href="{{ url_for('auth.register') }}" class="secondary-button">Register</a>
        <a href="{{ url_for('auth.login') }}" class="primary-button">Sign In</a>
      {% endif %}
    </div>
  </div>

  <div class="container">{% block content %}{% endblock %}</div>

  <!-- 页脚 -->
  <footer>
    <p>© 2024 Online Ticketing System. All Rights Reserved.</p>
    <p>
      If you have any questions, please contact us at
      <a href="mailto:support@ticketsystem.com">support@yoobeestudent.ac.nz</a>
    </p>
  </footer>

  <script src="{{ url_for('static', filename='js/global.js') }}"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>